<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .bdy_demo{background-color:Lavender;}
        .demo{color:blue;font-family:calibri;}
        #demo{color:red;font-family:calibri;}
    </style>
</head>
<body class= "bdy_demo">
<h1 class="demo">The Air Antartica </h1>
<div id ="demo">please enter your details to proceed with login.</div>
<form method="post" action="login_page.html">
    <input type="text" name="user name" placeholder="Enter ur name"><br>
   <input type= "email" name="email" placeholder="Enter ur email"><br>
    <input type= "tel" name="number" placeholder="phone number"><br>
    <label >Gender</label><br>
    <input type= "radio" name="Gender" value="Male"><label >Male </label><br>
    <input type= "radio" name="Gender" ><label >Female </label><br>
    <input type= "text" name="password" placeholder="password"><br>
    <input type= "text" name="con_password" placeholder="please confirm password"><br>
    <input type= "date" name="date " placeholder="Enter ur dob"><br>
    <input type= "checkbox" name="agree" ><label >i accept all the terms </label><br>
    <input type= "submit"><br>
</form>

</body>
</html>